/* de forma global usaremos un tipo de letra de googlefonts */
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
/* estos estilos se aplicaran a todos los eleemntos */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}
/* estos estilos van a esas paginas, aunque ya irian componentes con su propio estilo  */
.home,
.reports,
.products {
  display: flex;
  height: 90vh;
  /* align-items: center; */
  justify-content: center;
  /*font-size: 3rem; */
}
